@charset "euc-kr";

body {background: none;}
.sub_cont {width: 1218px; margin: 0 auto;}
.sub_cont h3 {padding: 35px 0; font-size: 28px; font-family: 'mbcnew-bold'; letter-spacing: -.08em;}

/*mc*/
.wrap_mc ul {overflow: hidden; padding-bottom: 50px;}
.wrap_mc li {overflow: hidden; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #e5e5e5;}
.wrap_mc li:last-child {border-bottom: 0;}
.wrap_mc .img {width: 282px; height: 282px; overflow: hidden; float: left;}
.wrap_mc .img img {width: 100%;}
.wrap_mc .txt {width: 902px; float: right;}
.wrap_mc .txt h4 {padding: 0 24px; line-height: 60px; font-family: 'notokr-bold'; font-size: 24px; color: #333; letter-spacing: -.06em; border: 1px solid #e5e5e5; background: #fcfcfc;}
.wrap_mc .txt .bar {display: inline-block; margin-left: 8px; width: 1px; height: 14px; background: #b8b8b8; line-height: 60px; vertical-align: middle;}
.wrap_mc .txt .part {display: inline-block; padding-left: 8px; font-size: 14px; line-height: 60px;}
.wrap_mc .txt .comment {display: inline-block; padding: 32px 0; font-family: 'notokr-bold'; font-size: 20px; color: #333; letter-spacing: -.06em; border-left:;}
.wrap_mc .txt p {font-size: 16px; line-height: 26px; color: #757575;}
.wrap_mc .txt .ico-c1 {display: inline-block; margin-right: 8px; width: 18px; height: 18px; background: url(../images/ico-comment1.png) no-repeat;}
.wrap_mc .txt .ico-c2 {display: inline-block; margin-left: 8px; width: 18px; height: 18px; background: url(../images/ico-comment2.png) no-repeat;}
.wrap_concept h4 {padding: 35px 0 33px; font-size: 24px; font-family: 'notokr-bold'; color: #333;}
.wrap_concept .info {margin-bottom: 50px; font-size: 18px; color: #333; line-height: 32px;}
.wrap_concept .staff {overflow: hidden; padding-bottom: 50px;}
.wrap_concept .staff h5 {margin-bottom: 35px; border-bottom: 1px solid #e5e5e5;}
.wrap_concept .staff .tit {display: inline-block; font-size: 24px; color: #1e1e1e; font-family: 'mbcnew-bold'; letter-spacing: -.08em; line-height: 55px; border-bottom: 2px solid #1e1e1e;}
.wrap_concept .main_staff {margin-bottom: 30px;}
.wrap_concept .main_staff li {margin-bottom: 13px;}
.wrap_concept .main_staff li span {display: inline-block; line-height: 30px;}
.wrap_concept .main_staff .part {margin-right: 30px; min-width: 80px; color: #5c6fc3; border: 1px solid #a9b6ee; border-radius: 2px; font-family: 'notokr-bold'; font-size: 14px; text-align: center;}
.wrap_concept .main_staff .name {font-size: 18px; font-family: 'notokr-regular';}
.wrap_concept .main_staff .pro {margin-left: 10px; font-size: 14px; color: #757575; font-family: 'notokr-regular';}
.wrap_concept .staff_list {overflow: hidden;}
.wrap_concept .staff_list ul {width: 406px; float: left;}
.wrap_concept .staff_list li {overflow: hidden;}
.wrap_concept .staff_list li span {display: inline-block; float: left; font-size: 14px; line-height: 30px;}
.wrap_concept .staff_list li .job {width: 140px; font-family: 'notokr-medium'; color: #333333;}
.wrap_concept .staff_list li .name {width: 155px; color: #757575;}

/*cast*/
.wrap_cast ul {overflow: hidden; padding-bottom: 50px;}
.wrap_cast li {overflow: hidden; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #e5e5e5;}
.wrap_cast li:last-child {border-bottom: 0;}
.wrap_cast .img {width: 282px; height: 282px; overflow: hidden; float: left;}
.wrap_cast .img img {width: 100%;}
.wrap_cast .txt {width: 902px; float: right;}
.wrap_cast .txt h4 {line-height: 60px; padding: 0 24px; color: #333; letter-spacing: -.06em; border: 1px solid #e5e5e5; background: #fcfcfc;}
.wrap_cast .txt span {line-height: 60px;}
.wrap_cast .txt .name {font-family: 'notokr-bold'; font-size: 24px;}
.wrap_cast .txt .bar {display: inline-block; margin-left: 8px; width: 1px; height: 11px; background: #b8b8b8; vertical-align: middle;}
.wrap_cast .txt .part {display: inline-block; padding-left: 5px; font-size: 14px;}
.wrap_cast .txt .comment {display: inline-block; font-family: 'notokr-bold'; font-size: 20px; color: #333; letter-spacing: -.06em;}
.wrap_cast .txt .info {font-size: 16px; line-height: 26px; color: #757575;}
.wrap_cast .txt em {display: inline-block; margin-left: 8px; font-family: 'noto-italic'; color: #757575; font-size: 14px; line-height: 60px;}

/*jebo*/
.wrap_jebo {border: 1px solid #e5e5e5; overflow: hidden; margin-bottom: 40px;}
.wrap_jebo .jebo_txt {padding: 30px 206px; box-sizing: border-box; overflow: hidden; border-bottom: 1px solid #e5e5e5;}
.wrap_jebo .jebo_txt p {line-height: 26px; font-size: 18px;}
.wrap_jebo .jebo_txt .tit {margin-bottom: 14px; font-size: 32px; font-family: 'mbcnew-light'; line-height: 42px;}
.wrap_jebo .jebo_txt .phone {font-size: 14px; margin-top: 12px;}
.wrap_jebo .jebo_txt strong {font-family: 'mbcnew-bold'; vertical-align: middle;}
.wrap_jebo .wrap_table {width: 800px; padding: 0 10px; margin: 0 auto; overflow: hidden;}
.wrap_jebo form {}

.wrap_jebo .box_input label {display: block; padding: 30px 0 18px; font-size: 18px; color: #000;}
.wrap_jebo .box_input input {width: 387px; padding: 9px 12px 11px; background: #fff; border: 1px solid #ccc; border-radius: 2px; font-family: inherit; font-size: 14px; color: #656565; line-height: 25px; box-sizing: border-box;}
.wrap_jebo .box_input textarea {width: 100%; height: 175px; padding: 8px 12px 10px; border: 1px solid #ccc; border-radius: 2px; font-family: inherit; font-size: 14px; color: #656565; line-height: 20px; resize: none; box-sizing: border-box;}
.wrap_jebo .attach-box {position: relative; width: 100%; margin: 7px 0 20px;}
.wrap_jebo .attach-box input {color: #757575; letter-spacing: inherit; width: 100%; height: 47px;}
.wrap_jebo .attach-box input[type="file"] {position: absolute; width: 0px; height: 1px; padding: 0; margin: -1px; clip: rect(250, 250, 250, 0); border: 0; overflow: hidden;}
.wrap_jebo .attach-box label {position: absolute; top: 5px; right: 5px; display: inline-block; padding: 10px 34px 12px 20px; background: #333 url("http://img.imbc.com/broad/tv/culture/pd/images4/ico-search.png") no-repeat 70px 11px; border-radius: 2px; font-size: inherit; font-size: 12px; color: #fff; line-height: 14px; text-align: center; vertical-align: middle; -webkit-appearance: none; -moz-appearance: none; appearance: none; cursor: pointer;}
.wrap_jebo .attach-box label.upName {text-indent: -9999em; overflow: hidden;}
.wrap_jebo .txt-add {margin-top: 11px; font-size: 12px; color: #000;}
.wrap_jebo .txt-add span {color: #4664e6;}
.wrap_jebo .agr-wrap {margin-top: 13px;}
.wrap_jebo .agr-area {padding: 30px; background: #f6f6f6; border-radius: 2px;}
.wrap_jebo .agr-area h4 {display: inline-block; margin-bottom: 25px; font-size: 16px; color: #000; line-height: 1; font-weight: normal; font-family: 'notokr-bold';}
.wrap_jebo .agr-area dl {margin-bottom: 12px; font-size: 14px;}
.wrap_jebo .agr-area dt {color: #333333; font-weight: normal; line-height: 23px; font-family: 'notokr-bold';}
.wrap_jebo .agr-area dd {color: #757575; line-height: 23px;}
.wrap_jebo .check-wrap {padding: 19px 20px 25px; border-bottom: 1px solid #e9e9e9; overflow: hidden;}
.wrap_jebo .check-wrap .check-area {position: relative; display: block; width: 100%; height: 25px;}
.wrap_jebo .check-wrap .check-area input {position: absolute; width: 25px; height: 25px;}
.wrap_jebo .check-wrap .check-area label {position: absolute; height: 25px; padding-left: 33px; background: #fff url('http://img.imbc.com/broad/tv/culture/document48/images/checkbox-v2.png') no-repeat; background-position: 0 0px; font-size: 14px; color: #111; line-height: 23px; cursor: pointer;}
.wrap_jebo .check-wrap input[type="checkbox"]:checked+label {background-position: 0 -25px;}
.wrap_jebo .btn-wrap {margin: 25px 0 33px; text-align: center;}
.wrap_jebo .btn-wrap button {width: 180px; height: 55px; background: #4664e6; border-radius: 2px; border: 0; font-size: 18px; color: #fff; line-height: 55px; cursor: pointer; font-family: 'notokr-bold';}

/*vod*/
.wrap_vod {position: relative;}
.wrap_vod .noti {overflow: hidden; padding: 15px 30px; margin-bottom: 23px; background: #f7f9fa;}
.wrap_vod .noti .tit {display: block; float: left; width: 50px; margin-right: 20px; color: #4664e6; font-size: 14px; font-family: 'notokr-bold'; line-height: 25px;}
.wrap_vod .noti .cont {float: left; width: 900px; font-size: 14px; color: #333333; line-height: 50px;}
.wrap_vod .noti .cont li {padding-left: 10px; line-height: 25px; position: relative;}
.wrap_vod .noti .cont li:before {content: ''; width: 2px; height: 2px; background: #2c2c2c; position: absolute; left: 0; top: 12px;}
.wrap_vod .icons {position: absolute; right: 0; top: -35px; overflow: hidden;}
.wrap_vod .icons li {float: left; margin-left: 9px; line-height: 16px; color: #818996; font-size: 12px; font-family: 'notokr-bold';}
.wrap_vod .icons li:nth-child(2) {padding-right: 8px; border-right: 1px solid #ddd;}
.wrap_vod .icons li a {line-height: 16px;}
.wrap_vod .icon {position: relative; display: inline-block; width: 16px; height: 16px; margin-right: 4px;}
.wrap_vod .price {text-indent: -9999px; background: url(../images/ico-price.png) no-repeat left center;}
.wrap_vod .question {text-indent: -9999px; background: url(../images/ico-q.png) no-repeat left center;}
.wrap_vod .subtitle {text-indent: -9999px; background: url(../images/ico-subtitle.png) no-repeat left center; background-size: 100%;}
.wrap_vod .read {text-indent: -9999px; background: url(../images/ico-read.png) no-repeat left center; background-size: 100%;}
.wrap_vod .vod_set {height: 44px; padding-bottom: 15px; margin-bottom: 15px; border-bottom: 1px solid #e5e5e5;}
.wrap_vod .vod_set .sort {float: left; overflow: hidden; margin-top: 11px;}
.wrap_vod .vod_set .sort li {float: left; width: 80px; height: 20px; position: relative;}
.wrap_vod .vod_set .sort li input[type="radio"] {position: absolute; width: 20px; height: 20px;}
.wrap_vod .vod_set .sort li label {position: absolute; height: 20px; padding-left: 22px; background: #fff url(../images/ico-chk-off.png) left center no-repeat; font-size: 16px; color: #999999; line-height: 20px; cursor: pointer;}
.wrap_vod .vod_set .sort li input[type="radio"]:checked+label {background: #fff url(../images/ico-chk-on.png) left center no-repeat; color: #000; font-family: 'notokr-bold';}
.wrap_vod .thumb_list {overflow: hidden;}
.wrap_vod .thumb_list ul {padding-bottom: 10px; border-bottom: 1px solid #e5e5e5;}
.wrap_vod .thumb_list .wrap_txt {padding-top: 12px;}
.wrap_vod .thumb_list .num {display: inline-block; margin-right: 6px; padding-right: 6px; font-size: 14px; color: #333333; font-family: 'notokr-bold'; border-right: 1px solid #ccc;}
.wrap_vod .thumb_list .txt {margin: 8px 0 0; font-size: 18px; line-height: 25px; height: 50px; max-height: 50px;}
.wrap_vod .wrap_right {float: right; overflow: hidden;}
.wrap_vod .select-wrap {display: inline-block; float: left;}
.wrap_vod .select-wrap select {min-width: 96px; height: 44px; padding-left: 11px; box-sizing: border-box; -webkit-appearance: none; -moz-appearance: none; font-size: 14px; color: #757575; font-family: 'notokr-demilight'; border: 1px solid #dddddd; background: url(http://img.imbc.com/commons/2018/image/tvmain/edit-arrow.png) no-repeat 90% center;}
.wrap_vod .select-wrap select::-ms-expand {display: none;}
.wrap_vod .select-wrap select option {padding: 5px 0; line-height: 20px;}
.wrap_vod .type_ch {float: left; margin-left: 12px;}
.wrap_vod .type_ch button {float: left; display: inline-block; width: 42px; height: 42px; border: 1px solid #dddddd; text-indent: -9999px;}
.wrap_vod .type_ch .type_list {margin-right: -1px; background: url(../images/ico-thumb1-off.png) no-repeat center center;}
.wrap_vod .type_ch .type_list.on {background: url(../images/ico-thumb1.png) no-repeat center center;}
.wrap_vod .type_ch .type_thumb {background: url(../images/ico-thumb2-off.png) no-repeat center center;}
.wrap_vod .type_ch .type_thumb.on {background: url(../images/ico-thumb2.png) no-repeat center center;}
.wrap_vod .vod_list ul {border: 1px solid #e5e5e5;}
.wrap_vod .vod_list li {overflow: hidden; padding: 28px; border-bottom: 1px solid #e5e5e5; position: relative;}
.wrap_vod .vod_list li:last-child {border-bottom: none;}
.wrap_vod .vod_list .wrap_img {width: 385px; float: left; position: relative;}
.wrap_vod .vod_list .wrap_img .img {width: 385px; height: 213px; overflow: hidden;}
.wrap_vod .vod_list .wrap_img .img.vod:after {content: ''; width: 20px; height: 20px; background: url(../images/ico-video.png) no-repeat; position: absolute; bottom: 12px; left: 14px;}
.wrap_vod .vod_list .wrap_img .time {position: absolute; right: 0; bottom: 0; line-height: 22px; padding: 0 10px; font-size: 12px; color: #fff; font-family: 'notokr-bold'; background: rgba(0, 0, 0, .5);}
.wrap_vod .vod_list .wrap_txt {width: 770px; float: left; box-sizing: border-box; padding: 8px 0 0 40px; color: #333;}
.wrap_vod .vod_list .wrap_txt .num {display: inline-block; margin-right: 7px; font-size: 18px; font-family: 'notokr-bold';}
.wrap_vod .vod_list .wrap_txt .date {color: #666666; font-size: 15px; display: inline-block; padding-left: 8px; border-left: 1px solid #ccc; font-family: 'noto-regular';}
.wrap_vod .vod_list .wrap_txt h4 {padding: 20px 0; font-size: 28px; font-weight: normal; font-family: 'notokr-bold';}
.wrap_vod .vod_list .wrap_txt .cast {overflow: hidden; margin-bottom: 13px;}
.wrap_vod .vod_list .wrap_txt .cast .tit {display: inline-block; float: left; width: 55px; height: 28px; border: 1px solid #a9b6ee; color: #5c6fc3; font-size: 14px; font-family: 'notokr-bold'; text-align: center; line-height: 26px; border-radius: 3px;}
.wrap_vod .vod_list .wrap_txt .cast .ppl {margin-left: 10px; width: 640px; float: left; font-size: 16px; line-height: 28px;}
.wrap_vod .vod_list .wrap_txt .txt {font-size: 16px; color: #757575; line-height: 24px; max-height: 72px; overflow: hidden;}
.wrap_vod .vod_list .wrap_txt .vod_icons {position: absolute; right: 30px; top: 30px;}
.wrap_vod .vod_list .wrap_txt .vod_icons .icon {width: 23px; height: 23px; margin-right: 2px; float: left;}
.wrap_vod .vod_thumb .wrap_txt {position: relative;}
.wrap_vod .vod_thumb .wrap_txt .vod_icons {position: absolute; right: 0; top: 10px;}
.wrap_vod .vod_thumb .wrap_txt .vod_icons .icon {margin: 0 0 0 2px; float: left;}
.wrap_vod .vod_list .ad {width: 728px; margin: 0 auto;}
.paging {width: 1218px; margin: 24px auto 50px; text-align: center;}
.paging a,
.sub .paging span {display: inline-block; margin: 0 2px; width: 35px; height: 35px; line-height: 35px; text-align: center; font-size: 18px; color: #000; font-family: 'noto-regular';}
.paging .active {color: #4664e6; border: 1px solid #a9b6ee; border-radius: 2px; font-weight: 600;}
.paging .first {text-indent: -9999px; background: url(../images/paging-first.png) center center no-repeat;}
.paging .last {text-indent: -9999px; background: url(../images/paging-last.png) center center no-repeat;}
.paging .prev {margin-right: 12px; text-indent: -9999px; background: url(../images/paging-prev.png) center center no-repeat;}
.paging .next {margin-left: 12px; text-indent: -9999px; background: url(../images/paging-next.png) center center no-repeat;}

/*player - clip*/
.wrap_clip_area {width: 1218px; height: 702px; box-sizing: border-box; border: 1px solid #e5e5e5;}
.wrap_clip_area .wrap_player {float: left; width: 906px;}
.wrap_clip_area .wrap_player .player_area {width: 906px; height: 509px; overflow: hidden; position: relative;}
.wrap_clip_area .wrap_player .vod_info {position: relative;}
.wrap_clip_area .wrap_player .vod_info .vod-title {margin-bottom: 0; padding: 0 24px 50px;}
.wrap_clip_area .wrap_player .vod_info .vod-title span {display: inline-block; width: 750px; line-height: 41px; font-size: 28px; color: #1e1e1e; letter-spacing: -.085em; max-height: 82px; font-family: 'notokr-bold';}
.wrap_clip_area .wrap_player .btn_share {position: absolute; right: 20px; top: 65px; width: 70px; height: 70px; border: 1px solid #ddd; background: url(../images/share_off.png) center center no-repeat; text-indent: -9999px;}
.wrap_clip_area .wrap_player .btn_share.on {background: url(../images/share_on.png) center center no-repeat;}
.wrap_clip_area .wrap_player .layer_sns {display: none; padding: 16px 18px; position: absolute; right: -40px; top: 143px; background: #eee; z-index: 10;}
.wrap_clip_area .wrap_player .layer_sns:after {content: ''; width: 16px; height: 8px; background: url(../images/arr_layer.png) no-repeat; position: absolute; top: -8px; left: 50%; margin-left: -8px;}
.wrap_clip_area .wrap_player .layer_sns a {display: inline-block; margin-right: 10px;}
.wrap_clip_area .wrap_player .layer_sns .btn_copy {line-height: 36px; font-family: 'notokr-bold'; font-size: 14px; color: #333;}
.wrap_clip_area .vod-sub {padding: 20px 24px; color: #757575; font-size: 14px;}
.wrap_clip_area .vod-sub .count {line-height: 19px; padding: 0 8px 0 18px; background: url(../images/ico-count.png) left center no-repeat;}
.wrap_clip_area .vod-sub .date {line-height: 19px; padding-left: 10px; position: relative; font-family: 'noto-regular';}
.wrap_clip_area .vod-sub .date:after {content: ''; width: 1px; height: 12px; background: #adadad; position: absolute; top: 3px; left: 0;}
.wrap_clip_area .vod-ui {width: 67px; top: 48px;}
.wrap_clip_area .layer-sns {right: -72px;}
.clip_list {box-sizing: border-box; padding: 0 0 0 18px; width: 310px; float: right; color: #f2f2f2; position: relative;}
.clip_list .index {font-size: 13px; font-family: 'notokr-demilight'; color: #757575; line-height: 14px; position: absolute; top: 15px; right: 10px;}
.clip_list .index span {display: inline-block; padding-right: 3px; color: #4664e5; font-family: 'notokr-bold'; vertical-align: 0;}
.clip_list .autoplay {display: block; clear: both; padding: 5px 27px 5px 0; margin: 10px 0; font-size: 13px; color: #333; font-family: 'notokr-medium'; background: url(../images/autoplay.png) right center no-repeat;}
.clip_list .autoplay.off {color: #bababa; background: url(../images/autoplay-off.png) right center no-repeat;}
.clip_list ul {height: 640px; overflow-x: hidden; overflow-y: scroll; scrollbar-arrow-color: #d4d4d4; scrollbar-face-color: #d4d4d4; scrollbar-highlight-color: #ababab; scrollbar-shadow-color: #d4d4d4;}
.clip_list ul::scrollbar {width: 5px;}
.clip_list ul::-webkit-scrollbar {width: 5px;}
.clip_list ul::-webkit-scrollbar-track {background-color: #d4d4d4;}
.clip_list ul::-webkit-scrollbar-thumb {background-color: #ababab;}
.clip_list ul li {position: relative; margin-top: 18px; overflow: hidden;}
.clip_list ul li:first-child {margin-top: 0;}
.clip_list ul li .img {width: 128px; height: 72px; float: left; margin-right: 10px;}
.clip_list ul li .img img {height: 100%;}
.clip_list ul li .text-box {width: 135px; padding-left: 130px; color: #333333; font-family: 'notokr-medium'; font-size: 14px;}
.clip_list ul li a:hover .description {text-decoration: underline;}
.clip_list ul li .text-box .description {display: block; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; word-wrap: break-word; -webkit-line-clamp: 2; margin-bottom: 10px; max-height: 44px; line-height: 22px; font-size: 14px;}
.clip_list ul li .playtime {position: absolute; right: 0; bottom: 0; padding: 0 7px; font-size: 12px; color: #fff; font-family: 'notokr-bold'; background: rgba(0, 0, 0, .5); line-height: 22px;}
.clip_list ul li .text-box .count {padding-left: 15px; font-size: 12px; color: #757575; background: url(../images/ico-count.png) left center no-repeat; font-family: 'noto-regular';}
.clip_list ul li.playing .img:before {content: ''; position: absolute; width: 100%; height: 100%; background: rgba(48, 75, 196, .7) url(../images/video-icon.png) no-repeat center center;}
.clip_list ul li.ico-19:after {content: ''; display: block; width: 22px; height: 22px; position: absolute; left: 131px; top: 8px; background: url(../images/ico-badge-19.png) repeat-x; background-size: 22px; box-sizing: border-box;}

